@page "/"
@*Add JsRuntime. It's needed to interop with javascript so we can execute our download function*@
@inject IJSRuntime jsRuntime

<h1>Hello, world!</h1>

Welcome to download file with Blazor example.
<br />
<br />
<button class="btn btn-primary" @onclick="Download">Download File</button>

@code{
    public async Task Download()
    {
        await jsRuntime.InvokeVoidAsync("download", "api/file","Example");
    }
}